/activity_forgot_password.xml
# /activity_login.xml
# /activity_main.xml
# /activity_profile.xml
# /activity_reset_password.xml
/activity_review.xml
/activity_signup.xml
# /activity_verify_phone.xml
# /activity_book_session.xml
